@charset "utf-8";
@import url("./normalize.css");
@import url("./fonts.css");

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 초기화 스타일 */
*, *::before, *::after{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: inherit;
}

/* 기본 스타일 */
body{
  background-color: #f4f4f4;
  color: #444444;
  font-size: 13px;
  font-family: Tahoma, Geneva, sans-serif;
}

/* 컨테이너 */
.container{
  height: 100vh;
}

/* 레이아웃 공통 */
.header, .main {
  width: 100%;
  margin: 0 auto;
}

/* 헤더 */
.header{
  background-color: #fff;
  height: 55px;
  position: fixed;
  display: flex;
  justify-content: center;
}
.top{
  background-color: #fff;
  height: 55px;
  display: grid;
  grid-template-columns: repeat(12, 95px);
}

/* 로고 */
.logo{
  margin: 0;
  padding-left: 20px; 
}
.logo a, .logo img{
  display: block;
  height: 55px;
}

/* 메뉴 */
.menu{
  grid-column: 7 / span 6;
  vertical-align: middle;
  display: flex;
  justify-content: flex-end;
  align-self: center;
}
.menu a{
  padding: 0 20px;
}

/* 메인 */
.main{
  background-color: #f4f4f4;
  padding: 95px 60px 60px 60px;
  width: 1140px;
}
