@charset "utf-8";
@import url("./normalize.css");
@import url("./fonts.css");

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 초기화 스타일 */
*, *::before, *::after{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: inherit;
}

/* 기본 스타일 */
body{
  background-color: #fff;
  font-size: 13px;
  font-family: Tahoma, Geneva, sans-serif;
}

/* 컨테이너 */
.container{
  height: 100vh;
}

/* 레이아웃 공통 */
.header, .top, .main, .content {
  display: block;
  position: relative;
  margin: 0 auto;
}

/* 헤더 */
.header{
  background-color: #fff;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #e5e5e5;
  z-index: 300;
  position: fixed;
}
.top{
  height: 100%;
  max-width: 1140px;
}

/* 로고 */
.logo{
  margin: 0;
  padding-left: 20px; 
}
.logo a, .logo img{
  display: block;
  height: 55px;
}

/* 메뉴 */
.menu{
  height: 55px;
  line-height: 55px;
  float: right;
  margin-top: -55px;
}
.menu li{
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
}

/* 메인 */
.main{
  background-color: #e5e5e5;
  width: 100%;
}

/* 내용 */
.content{
  padding: 95px 60px 60px 60px;
  width: 1140px;
}
